body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header_list{
    text-align: center;
    margin: 25.5px 0;
}

.header_list_item{
    display: inline;
    margin-right: 30px;
}

.link_header_nav{
    font-weight: 700;
    font-size: 18px;
    color: #FF0000;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_img{
    width: 100%;
    margin-bottom: 49px;
}

.nav_tittle{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.text_page{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin: 0 67.5px 28px 67.5px;
}

.wrapper_button{
    margin-top: 38px;
    margin-bottom: 42px;
    text-align: center;
}

.button{
    font-weight: 700;
    font-size: 12px;
    color:#fff;
    background: #FF0000;
    padding: 18px 43.5px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
}

.footer_text{
    margin-top: 40px;
    margin-bottom: 29px;
    margin-right: 105px;
    text-align: end;
    font-weight: 700;
    font-size: 16px;
}